* {
	margin: 0;
	padding: 0;
}
/* header start*/
header {
      background-color: #121B2A;
      margin: 10 0 3 0;
     
}
.wrapper {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;

} 

.logo {
	width: 20%;
	float: left;
}

.logo img{
    width: 100%; 
}

.menu {
	width: 70%;
    float: right;
}

.menu ul{
     list-style: none; 
     float: right;

}
.menu ul li{
	float: left;
    margin-top: 20px;

}

.menu ul li a {
     text-decoration: none;
     color: white;
     display: block;
     transition: .5s;
     margin: 8px 0px 8px 8px;
     padding: 0 10px;
     font-size: 18px;
     font-family: sans-serif;

}
.menu ul li a:hover {
	color: #045C8E;
}

.menu ul li:last-child a{
	padding-right: 0;

} 
/* header end */

/*section starts*/
.banner{
    background-image: url(../images/slider.jpg);
    background-repeat: no-repeat;
    /*-webkit-background-size:;*/
    /*-moz-background-size:;*/
    background-size: cover;
    background-position: center;
    /*min-height: 220px;*/
    /*padding-bottom: 50px;*/
}
.b_content{
    width: 50%;
    margin-top: 150px;
    margin-bottom: 70px;
}
.b_content h1{
    font-family: sans-serif ;
    font-weight: 380px;
    font-size: 40px;
    color: white;
    margin: 0;

}
.b_content h2{
    font-family: sans-serif ;
    font-weight: ;
    font-size: 42px;
    color: #0076BC;
}
.solutions{
    color: white;
}
.b_content p{
    font-family: sans-serif; ;
    font-weight: 6px;
    font-size: 18px;
    color: white;
    margin: 5px 0px  20px;
}
.lorem {
    color: skyblue;
}
.b_content button{
    font-family: sans-serif;
    font-size: 22px;
    background-color: skyblue;
    width: 210px;
    height: 40px;
    /*padding: 16px;*/
    /*margin-top: 20px;*/
    border: none;
    border-radius: 5px;
}
.b_content button:hover{
    color: #0078BD;
    transition: .5s;    
}
.b_content button:focus{
    outline: none;

}
.icon {
    font-weight: 30px;
    background-color: white;
    display: inline-block;
    width: 20px;
    height: 25px;
    border-radius: 50%;
}
/*section ends*/

/*container starts*/
.container {
    background-color: #121B2A;
    overflow: hidden;
    width: 100%;
}


.row1 {
    float: left;
    width: 30%;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-right: 30px;
}
.row1 img{
    display: inline;
    width: 90px;
    height: fit-content;
}
.row1 h1{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 20;
    color: grey;
    display: inline;
}
.row1 h2{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 20;
    color: #0076BC;
    display: inline block;
}
.row1 p{
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 22px;
    color: grey; 
}
.row2 {
    float: left;
    width: 30%;
    padding-top: 60px;
    padding-bottom: 50px;
    margin:0 30 0;
}
.row2 img {
    display: inline;
    width: 90px;
    height: fit-content;
}
.row2 h1{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 20;
    color: grey;
    display: inline;
}
.row2 h2{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 20;
    color: #0076BC; 
}
.row2 p{
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 22px;
    color: grey;
}
.row3 {
    float: left;
    width: 30%;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-left: 30px;
}
.row3 img {
    display: inline;
    width: 90px;
    height: fit-content;
}
.row3 h1{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 20;
    color: grey;
    display: inline;
}
.row3 h2{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 20;
    color: #0076BC;
    display: inline block;
}
.row3 p{
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 22px;
    color: grey; 
}
/*container ends*/

/*footer starts*/
.footer {
    background-color: #121B2C;
    width: 100%;
    overflow: hidden;
    padding: 15px 0 25px; 
}
.footer_menu{
    margin-top: 10px;
    width: 70%;
    float: left;

}
.footer_menu ul{
    list-style: none;
    float: left;
    color: grey;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.footer_menu ul li{
    float: left;
}
.firstul {
    /*font-size: 20px;*/
}
.footer_menu ul li a{
    text-decoration: none;
    color: grey;
    display: block;
    transition: .5s;
    margin: 8px 0px 8px 0px;
    padding: 0 10px;
    font-size: 15px;
    font-family: sans-serif
}
.footer_logo {
    width: 20%;
    float: right;
    margin-top: 20px;
}
.footer_logo img {
    width: 100%;
}
/*footer ends*/